.MyCarousel{
    .carousel-indicators {
      button{
          width:11px;
          height:11px;
          border-radius: 50%;
          
      }
    }
    .Carousel-text {
      color: $white;
      font-family: inherit;
      font-size: 80px;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: calc(50% - 48px);
      & .light{
        font-weight: 100;
        position: relative;
      }      
    }
}