body {
    background-image: url("http://bootstrap.oxygenna.com/smartbox/images/backgrounds/bedge_grunge.png");
    background-repeat: repeat;
    padding: 40px 0;
}
.general-container{
    box-shadow: -1px -2px 105px -23px rgba($black ,0.74); 
    max-width: 1250px;
    padding-left: 0;
    padding-right: 0;
} 